@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  width: 90%;
  height: 50vh;
}
.header .header__greeting {
  font-family: "sans-serif", "Roboto";
  text-align: start;
  align-self: flex-start;
}
.header .header__introduction {
  font-family: "Urbanist";
  font-size: 50px;
  text-align: start;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  width: 90%;
  height: auto;
}
.introduction .introduction__header {
  font-family: "Urbanist";
  font-size: 30px;
}
.introduction .introduction__profilephoto {
  width: 90%;
}
.introduction .introduction__aboutme {
  text-align: start;
}

.technicalskills {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.technicalskills .technicalskills__heading {
  font-family: "Urbanist";
  font-size: 30px;
}
.technicalskills .technicalskills__images {
  width: 80%;
  height: 40vh;
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 1fr 0.4fr 1fr 0.4fr 1fr 0.4fr;
  grid-template-areas: " springboot java react" "  sbcap jcap rcap" " bem scss javascript" " bcap scap jscap" " css3 html5 git" " ccap hcap gcap";
  gap: 10px;
}
.technicalskills .technicalskills__images .technicalskills__images--javascript {
  grid-area: javascript;
  width: 60px;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--springboot {
  grid-area: springboot;
  width: 60px;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--react {
  grid-area: react;
  width: 70px;
  height: 60px;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--bem {
  grid-area: bem;
  width: 60px;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--scss {
  grid-area: scss;
  width: 70px;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--java {
  grid-area: java;
  width: 80px;
  height: 60px;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--css3 {
  grid-area: css3;
  width: 60px;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--html5 {
  grid-area: html5;
  width: 60px;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--git {
  grid-area: git;
  width: 60px;
  height: auto;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--sbcap {
  grid-area: sbcap;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--jcap {
  grid-area: jcap;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--rcap {
  grid-area: rcap;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--bcap {
  grid-area: bcap;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--scap {
  grid-area: scap;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--jscap {
  grid-area: jscap;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--ccap {
  grid-area: ccap;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--hcap {
  grid-area: hcap;
  margin: 0px;
  padding: 0px;
}
.technicalskills .technicalskills__images .technicalskills__images--gcap {
  grid-area: gcap;
  margin: 0px;
  padding: 0px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 90%;
  height: auto;
}
.projects .projects__header {
  text-align: center;
  font-size: 30px;
  font-family: "Urbanist";
}
.projects .projects__image {
  width: 300px;
  height: auto;
}
.projects .projects__typeofproject {
  font-family: "sans-serif", "Roboto";
  text-align: start;
  align-self: flex-start;
  margin: 0px;
  padding: 0px;
}
.projects .projects__title {
  font-family: "Urbanist";
  align-self: flex-start;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.projects .projects__paragraph {
  text-align: start;
  margin: 5px;
  padding: 5px;
}
.projects .projects__buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}
.projects .projects__buttons .projects__buttons--code {
  margin: 5px;
  padding: 8px 15px;
  border-radius: 10px;
  color: black;
  background-color: white;
  border: 2px solid black;
  text-decoration: none;
}
.projects .projects__buttons .projects__buttons--preview {
  margin: 5px;
  padding: 8px 15px;
  border-radius: 10px;
  color: black;
  border: 2px solid black;
  cursor: pointer;
  text-decoration: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  width: 360px;
  height: 15vh;
  margin: 0%;
  padding: 0%;
  background-color: black;
}
.footer .footer__buttons {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
  padding: 0%;
}
.footer .footer__buttons--linkedin, .footer .footer__buttons--cv, .footer .footer__buttons--github {
  width: 60px;
  height: 60px;
}
.footer .footer__email {
  text-align: center;
  color: white;
}/*# sourceMappingURL=style.css.map */