@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

$font-body: "sans-serif", "Roboto";
$font-header: "Urbanist";
$color-primary: black;
$color-secondary: white;
$color-tertiary: rgb(174, 210, 246);